doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title somei-helper
        link(rel='stylesheet' href='style.css')
    body
        .container
            table
                thead
                    tr
                        - for (var i=0; i<titles.length; i++)
                          th= titles[i]
                tbody
                    - for (var i=0; i<list.length; i++)
                      tr(class=list[i]['site'])
                        - for (var j=0; j<keys.length; j++)
                          td= list[i][keys[j]] 